[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"

[dev-packages]
mypy = "*"
pytest = "*"
flake8 = "*"
black = "==19.10b0"
pre-commit = "*"

[requires]
python_version = "3.8"
